html
{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after
{
    box-sizing: inherit;
}

.contenedor 
{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: space-around;
}
.card 
{
    width: 25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    border: 1px solid dimgray;

}
.card_price 
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.3rem;
    color: dimgrey;
}
.card_imagen 
{
    width: 100%;
    height: 20rem;
}
.card_info 
{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}
.card_button,
.btn_comprar
{
    width: 100%;
    height: 2rem;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
.card_title 
{
    width: 100%;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
    text-transform: uppercase;
}
.cart 
{
    width: 60rem;
    height: 30rem;
    margin: 1rem auto;
    border: 1px solid dimgray;
    display: flex;
    flex-direction: column;
    

}
.itemTitles 
{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid dimgrey;
   
    
}
.itemTitles h2 
{
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
    text-transform: uppercase;
}
.precioTotal 
{
    width: 60rem;
    height: 3rem;
    margin:1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.precioTotal_title 
{
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgray;
    text-align: center;
    width: 100%;
    height: 2rem;
}
.productosComprados 
{
    width: 100%;
    height: 3rem;
    display: flex;
    margin: .2rem auto;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
}
